body{
  background-image: url("imagens/25726625_2203_w026_n002_1497b_p1_1497.jpg");
  background-size: cover;
}

#tabs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabuleiro{
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 90px 90px 90px 90px;
  margin-top: 20px;
}

#imgVencedor{
  position: absolute;
  height: 90px;
  width: auto;
  left: 39.48%;
  margin-top: -4%;
}

.dado{
  width: 90px;
  height: 60px;
  border: 3px solid rgb(164, 164, 164);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
  padding: 5px;
  background-color: #323232;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 7px;
  color: antiquewhite;
  font-family: fonteNum;
}
.dado img{
  max-width: 60px;
  width: 100%;
}

.dado_img {
  max-width: 60px;
  width: 100%;
}

.cxVal{
  width: 93px;
  height: 63px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
  padding: 5px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: fonteNum;
  color: white;
}

.btCol{
  width: 40px;
  height: 40px;
  font-size: 18px;
  margin: 5px;
  cursor: pointer;
}

.colunaP{
  cursor: pointer;
}

#proxDadoSec{
  display: flex;
  position: absolute;
  float: left;
  justify-content: center;
  align-items: center;
  border: 3px antiquewhite solid;
  margin-top: 43%;
  left: 90px;
  width: 300px;
  height: 100px;
  background-color: #323232;
  color: antiquewhite;
  font-size: 40px;
  font-family: fonteNum;
}

.imagemJogador{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  width: 300px;
  height: 400px;
}

#imgPlayer{
  float: left;
  left: 90px;
}

#imgBot{
  float: right;
  right: 90px;
}

#posicaoReiniciar{
  float: right;
  right: 190px;
  position: absolute;
  margin-top: 45%;
  width: 100px;
  height: 40px;
}

#botaoReiniciar{
  background-color:#323232;
  color:antiquewhite;
  width: 100px;
  height: 40px;
}

@font-face{
  font-family: fonteNum;
  src: url(./fontes/MerriweatherSans-VariableFont_wght.ttf);
}

@font-face{
  font-family: fonteBot;
  src: url(./fontes/BlackOpsOne-Regular.ttf);
}

@font-face{
  font-family: fontePlayer;
  src: url(./fontes/RubikBubbles-Regular.ttf)
}

.imag{
  width: 350px;
  height: 350px;
}

#imgB{
  opacity: 0.8;
}

#imgP{
  opacity: 0.9;
}

.nome{
  display: flex;
  position: absolute;
  bottom: -70px;
  color: antiquewhite;
  background-color: black;
  padding: 5px;
  border-radius: 30px;
  opacity: 0.7;
}

#nomePlayer{
  font-family: fontePlayer;
  font-size: 50px;
}

#nomeBot{
  font-family: fonteBot;
  font-size: 50px;
}